<div class="tw-p-[var(--content-gap)] tw-gap-[var(--content-gap)] tw-grid">
  <div class="tw-flex tw-gap-[var(--content-gap)] tw-flex-wrap">
    <div *ngFor="let p of room.playerList">
      <p-button
        [label]="p.playerName"
        [outlined]="true"
        [size]="'large'"
        (onClick)="userBtn(p)"
        [severity]="
          p.playerId === currentPlayer.playerId ? 'primary' : 'secondary'
        "
      ></p-button>
    </div>
  </div>

  <div class="char-div" *ngIf="currentPlayer.playerId === room.roomOwnerId">
    <div class="char-selection">
      <app-base-multiselect
        [label]="'Select Characters'"
        [options]="characterOptionList"
        [fieldControl]="characterFormControl"
        [placeholder]="'Character List'"
      ></app-base-multiselect>
    </div>

    <div class="char-card-div">
      <div
        *ngFor="let n of characterFormArr.controls; let i = index"
        class="tw-mb-[var(--content-gap)]"
      >
        <app-base-label
          [label]="returnCharName(n.value.characterId)"
        ></app-base-label>
        <p-inputNumber
          [formControl]="returnCharFormControl(n)"
          [showButtons]="true"
          buttonLayout="horizontal"
          [step]="1"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [min]="1"
        ></p-inputNumber>
      </div>
    </div>
  </div>

  <div
    class="tw-flex tw-w-full tw-justify-center"
    *ngIf="currentPlayer.playerId === room.roomOwnerId"
  >
    <p-button
      [label]="'Start Game'"
      (onClick)="gameGameBtn()"
      [iconPos]="'right'"
      [icon]="'pi pi-arrow-right'"
    ></p-button>
  </div>
</div>

<p-dialog
  [(visible)]="dialogVisible"
  [position]="'top'"
  [header]="'Action'"
  [modal]="true"
  [draggable]="false"
>
  <div class="tw-flex tw-flex-wrap tw-gap-[var(--content-gap)]">
    <p-button [label]="'Kick'" (onClick)="kickPlayer()"></p-button>
    <p-button [label]="'Assign to Owner'" (onClick)="assignOwner()"></p-button>
  </div>
</p-dialog>
